<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.4" />
    <title>@ViewData["Title"] - TiendaJK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/productos.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

   

    <section class="contenido">
        <div class="contenido-texto">
            <h1>Bienvenido/a</h1>
            <h4>Te encuentras en TiendaJK</h4>
            <p></p>

            <div class="animated-text">
                Encuentras articulos como: <span></span>
            </div>


            
            <h4></h4>
            <p></p>
            <h4></h4>
            <h4></h4>
            

            

            <div class="contenido-in">
                
                <!--1-->

                <div class="contenedor">
                    <h3>Blanco</h3>
                    <h5>Galaxy Book4 Edge</h5>
                    <img src="~/images/galaxy book4 edg.png" />
                    <a href="/Productos/Details/66aaf2ca9a5803ba356b0432" class="nav-btn">Detalle</a>
                </div>
                
                <!--2-->
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b1d" class="nav-btn">Detalle</a>
                </div>

                <!--3-->
                 <div class="contenedor">
                    <h3>negro</h3>
                    <h5>smartphone</h5>
                    <img src="~/images/iphone1.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b1e" class="nav-btn">Detalle</a>
                </div>

                <!--4-->
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>pc</h5>
                    <img src="~/images/pc.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b1f" class="nav-btn">Detalle</a>
                </div>

                <!--5-->
                <div class="contenedor">
                    <h3>Rosa</h3>
                    <h5>smartwatch</h5>
                    <img src="~/images/smartw.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b20" class="nav-btn">Detalle</a>
                </div>

                <!--6-->
                 <div class="contenedor">
                    <h3>Gris oscuro</h3>
                    <h5>Tablet</h5>
                    <img src="~/images/tabA9.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b21" class="nav-btn">Detalle</a>
                </div>

                <!--7-->
                <div class="contenedor">
                    <h3>Multicolores</h3>
                    <h5>Auriculares</h5>
                    <img src="~/images/auriculares.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b22" class="nav-btn">Detalle</a>
                </div>

                <!--8-->
                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Televisor</h5>
                    <img src="~/images/televisor4k.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b23" class="nav-btn">Detalle</a>
                </div>

                <!--9-->
                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>camara Nikon</h5>
                    <img src="~/images/camaranikon.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b24" class="nav-btn">Detalle</a>
                </div>



                <!--Repetido-->
                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Drone</h5>
                    <img src="~/images/drone.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b25" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Gris oscuro</h3>
                    <h5>Altavoz inteligente</h5>
                    <img src="~/images/altavozInteligente.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b26" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Router</h5>
                    <img src="~/images/routerwifi.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b27" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Blanco</h3>
                    <h5>Proyector</h5>
                    <img src="~/images/proyector.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b28" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Azul</h3>
                    <h5>E-reader</h5>
                    <img src="~/images/e-reader.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b29" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Blanco</h3>
                    <h5>camara de seguridad</h5>
                    <img src="~/images/camaradesegcurity.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b2a" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Blanco</h3>
                    <h5>Consola</h5>
                    <img src="~/images/play5.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b2b" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Ordenador sobremesa</h5>
                    <img src="~/images/ordenadorsobremesa.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b2c" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Horno microondas</h5>
                    <img src="~/images/horno.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b2d" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Naranja</h3>
                    <h5>Cargador solar</h5>
                    <img src="~/images/cargadorsolar.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b2e" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Gris Oscuro</h3>
                    <h5>Sistema de sonido</h5>
                    <img src="~/images/sistema de sonido.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b2f" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Reloj digital</h5>
                    <img src="~/images/relojdespetador.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b30" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Camara de acción</h5>
                    <img src="~/images/camaradeaccion.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b31" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Gris</h3>
                    <h5>Disco Duro Externo</h5>
                    <img src="~/images/discoduroext.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b32" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Monitor</h5>
                    <img src="~/images/monitor1.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b33" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Teclado</h5>
                    <img src="~/images/teclado.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b34" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Blanco</h3>
                    <h5>Mouse ergonomico</h5>
                    <img src="~/images/ratonergono.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b35" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Gris</h3>
                    <h5>Ventilador de barra</h5>
                    <img src="~/images/ventilador.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b36" class="nav-btn">Detalle</a>
                </div>

                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Lampara led</h5>
                    <img src="~/images/lampara led.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b37" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Control</h5>
                    <img src="~/images/controls.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b38" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>Negra</h3>
                    <h5>Camara para pc</h5>
                    <img src="~/images/camaraweb.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b39" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Sistema gps</h5>
                    <img src="~/images/sistemagps.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b3a" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>Microfono</h5>
                    <img src="~/images/microfonousb.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b3b" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>Blanco</h3>
                    <h5>Pizarra digital</h5>
                    <img src="~/images/pizarradigital.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b3c" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b3d" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b3e" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b3f" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b40" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>Negro</h3>
                    <h5>camara Nikon</h5>
                    <img src="~/images/camaranikon.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b41" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b42" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b43" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b44" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b45" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b46" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b47" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b48" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b49" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b4a" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b4b" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b4c" class="nav-btn">Detalle</a>
                </div>
                <div class="contenedor">
                    <h3>verde</h3>
                    <h5>camara instantanea</h5>
                    <img src="~/images/fuji camara.png" />
                    <a href="/Productos/Details/66eb103f018c80eca2a98b4d" class="nav-btn">Detalle</a>
                </div>
               
               
        </div>
    </section>

    <script src="https://unpkg.com/scrollreveal"></script>

</body>
</html>




