<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   
</head>
<body>
    

    <div class="container">

        <!--TARJETAS-->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">1,042</div>
                    <div class="cardName">Visitas de hoy</div>
                </div>
                <div class="iconBox">
                    <i class="bi bi-eye"></i>

                </div>


            </div>

            <div class="card">
                <div>
                    <div class="numbers">80</div>
                    <div class="cardName">Ventas realizadas</div>
                </div>
                <div class="iconBox">
                    <i class="bi bi-cart2"></i>

                </div>


            </div>

            <div class="card">
                <div>
                    <div class="numbers">207</div>
                    <div class="cardName">Comentarios</div>
                </div>
                <div class="iconBox">
                    <i class="bi bi-chat-square-text"></i>

                </div>


            </div>

            <div class="card">
                <div>
                    <div class="numbers">$6,047</div>
                    <div class="cardName">Ganancias</div>
                </div>
                <div class="iconBox">
                    <i class="bi bi-cash-coin"></i>

                </div>
            </div>
        </div>




        <!--AGREGANDO LOS GRAFICOS-->

        <div class="graphBox">
            <div class="box">
                <canvas id="myChart"></canvas>
            </div>
            <div class="box">
                <canvas id="earning"></canvas>
            </div>
        </div>






        <!--CREACION DE LOS DOS PANELES DE LOS DETALLES-->

        <div class="details">
            <div class="recentOrders">
                <div class="carHeader">
                    <h2>Ordenes recientes</h2>
                    <a href="#" class="btn">Vista general</a>
                </div>

                <table>
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Precio</td>
                            <td>Estado de pago</td>
                            <td>Estado</td>

                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td>PC</td>
                            <td>$1000</td>
                            <td>Pagado</td>
                            <td><span class="status delivered">Disponible</span></td>
                        </tr>

                        <tr>
                            <td>Camara instantanea</td>
                            <td>$99</td>
                            <td>Pagado</td>
                            <td><span class="status return">Agotado</span></td>
                        </tr>

                        <tr>
                            <td>Smartphone</td>
                            <td>$699</td>
                            <td>Pagado</td>
                            <td><span class="status delivered">Disponible</span></td>
                        </tr>

                        <tr>
                            <td>Hp Laptop</td>
                            <td>$1199</td>
                            <td>Pagado</td>
                            <td><span class="status delivered">Disponible</span></td>
                        </tr>

                        <tr>
                            <td>Star Smartwatch</td>
                            <td>$249</td>
                            <td>Pagado</td>
                            <td><span class="status delivered">Disponible</span></td>
                        </tr>

                        <tr>
                            <td>Tablet</td>
                            <td>$399</td>
                            <td>Pagado</td>
                            <td><span class="status pending">Pocos</span></td>
                        </tr>

                        <tr>
                            <td>Auriculares Bluetooth</td>
                            <td>$129</td>
                            <td>Pagado</td>
                            <td><span class="status return">Agotado</span></td>
                        </tr>

                        <tr>
                            <td>Televisor 4K</td>
                            <td>$849</td>
                            <td>Pagado</td>
                            <td><span class="status pending">Pocos</span></td>
                        </tr>

                        <tr>
                            <td>Cámara DSLR</td>
                            <td>$60000</td>
                            <td>Pagado</td>
                            <td><span class="status delivered">Disponible</span></td>
                        </tr>

                        <tr>
                            <td>Drone</td>
                            <td>$699</td>
                            <td>Pagado</td>
                            <td><span class="status delivered">Disponible</span></td>
                        </tr>

                        <tr>
                            <td>Altavoz inteligente</td>
                            <td>$99</td>
                            <td>Pagado</td>
                            <td><span class="status delivered">Disponible</span></td>
                        </tr>
                                           

                    </tbody>
                </table>
            </div>


            <!--Nuevos USUARIOS AGREGADOS PANELL-->

            <div class="recentCustomers">
                <div class="carHeader">
                    <h2>Nuevos usuarios registrados</h2>
                </div>
                <table>
                    <tbody>

                        <tr>
                            <td style="width: 60px;"><div class="imgBx"><img src="~/images/Ejemplo1.jpg"></div></td>
                            <td><h4>Kevin<br><span>Salvadoreno</span></h4></td>
                        </tr>

                        <tr>
                            <td style="width: 60px;"><div class="imgBx"><img src="~/images/Ejemplo2.png"></div></td>
                            <td><h4>Josefo<br><span>Indio</span></h4></td>
                        </tr>

                        <tr>
                            <td style="width: 60px;"><div class="imgBx"><img src="~/images/Ejemplo3.png"></div></td>
                            <td><h4>Milton<br><span>Salvadoreno</span></h4></td>
                        </tr>

                        <tr>
                            <td style="width: 60px;"><div class="imgBx"><img src="~/images/Ejemplo4.png"></div></td>
                            <td><h4>Jasmin<br><span>Salvadoreno</span></h4></td>
                        </tr>

                        <tr>
                            <td style="width: 60px;"><div class="imgBx"><img src="~/images/Ejemplo5.png"></div></td>
                            <td><h4>Pedro<br><span>Italiano</span></h4></td>
                        </tr>

                        <tr>
                            <td style="width: 60px;"><div class="imgBx"><img src="~/images/Ejemplo6.jpg"></div></td>
                            <td><h4>Katherinne<br><span>Canadiense</span></h4></td>
                        </tr>

                        <tr>
                            <td style="width: 60px;"><div class="imgBx"><img src="~/images/Ejemplo7.png"></div></td>
                            <td><h4>Ariana<br><span>Hondurena</span></h4></td>
                        </tr>

                        <tr>
                            <td style="width: 60px;"><div class="imgBx"><img src="~/images/Ejemplo8.png"></div></td>
                            <td><h4>Messi<br><span>Argentino</span></h4></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>






    </div>





    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
    <script src="~/js/my_chart.js"></script>
   
   

</body>
</html>