@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-texto: #011627;
    --color-fondo: #f8f9fa;
    --color-primario: #0466c8;
    --color-secundario: #d5d9d3;
    --fuente-grande: 4.1rem;
    --funete-p: 1rem;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* Esto es para las posiciones de las letras */
header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease .55s;
    padding: 20px 9%;
}

/* Esto es para las caracteristias del logo  */
.logo {
    display: flex;
    align-items: center;
    color: var(--color-texto);
    font-size: 30px;
    font-weight: bold;
}

.logo i {
    vertical-align: middle;
    color: var(--color-primario);
    font-size: 27px;
    margin-right: 5px;
}


.listanav {
    display: flex;

}

.listanav a {
    font-size: var(--funete-p);
    color: var(--color-texto);
    font-weight: 600;
    margin: 0 35px;
    transition: all ease .55s;
}

.listanav a:hover {
    color: var(--color-primario);
}

.listanav a.activo {
    color: var(--color-primario);
}


.nav-derecha {
    display: flex;
    align-items: center;
}

/* Para el boton de comprar se le agrega un cuadro y color*/
.nav-btn {
    display: inline-block;
    padding: 10px 25px;
    color: var(--color-fondo);
    background: var(--color-primario);
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 20px;
    transition: all ease .55s;
}

.nav-btn:hover {
    background: transparent;
    border: 2px solid var(--color-texto);
    color: var(--color-texto);
}

#darkmode {
    font-size: 30px;
    cursor: pointer;
    color: var(--color-texto);
    margin-left: 10px;
}


section {
    padding: 0 10%;
}

.contenido {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.contenido-img {
    height: 550px;
    width: 550px;
}

.contenido-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contenido-in {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.contenido-texto h1 {
    font-size: var(--fuente-grande);
    height: 1.3;
    font-weight: 800;
    margin-top: 5.5rem;
}

.contenido-texto h4 {
    margin: 2px 0 20px;
    color: var(--color-primario);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 16px;
    font-weight: 400;
}

.contenido-texto p {
    color: var(--color-texto);
    font-size: 13px;
    font-weight: 500;
    max-width: 500px;
    margin-bottom: 3rem;

}

.contenedor {
    background-color: var(--color-secundario);
    padding: 25px 40px;
    border-radius: 1rem;
    box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
    transition: pointer;
}


.contenedor img {
    max-width: 100%;
    height: auto;
}

.contenedor h3 {
    font-size: 20px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 4px;
}

.contenedor h5 {
    color: var(--color-primario);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 4px;
}

.contenedor:hover{
    transform: translateY(-5px) scale(1.1); 
}

.flecha{
    position: absolute;
    bottom: 3.3rem;
    right: 9%;
}

.flecha i{
    padding: 12px;
    color: var(--color-fondo);
    background: var(--color-texto);
    font-size: var(--color-texto);
    cursor: pointer;
    border-radius: 3rem;
    transition: all ease .55s;
}

.flecha i:hover{
    background: var(--color-primario);
}